<!DOCTYPE html>
<html>
  <head>
      <title>Tasks</title>
      <link rel='stylesheet' href='/css/base.css' />
      <link rel='stylesheet' href='/css/index.css' />
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <header>
        <nav>
            <ul>
                <li class="company_logo">Task Manager</li>
                <li class="right"><a id="a_create_task" href="#/create_task">Create Task</a></li>
                <li class="right"><a id="a_show_tasks" href="#/show_tasks">Show Tasks</a></li>
            </ul>
        </nav>
    </header>
    <div id="create_task_container">
        <h1>Create A Task</h1>
        <div>
            <form name="form_task">
                <input type="text" name="description" placeholder="description"/>
                <input type="number" max="3" min="0" name="status" placeholder="status"/>
                <input type="number" max="3" min="1" name="priority" placeholder="priority"/>
                <input type="text" name="tags" placeholder="tags"/>
                <input type="text" name="notes" placeholder="notes"/>
            </form>
            <a href="#" class="clickable">Create Task</a>
        </div>
    </div>
    <div id="show_tasks_container">
    </div>



    <script src="/js/index.js"></script>

  </body>
</html>
