h1 {
    font-weight: 200;
    font-size: 2em;
    text-align: center;
}

input {
    width: calc(100% - 1em - 2px);
    margin-bottom: 1em;
}

form {
    text-align: center;
}

header {
    background-color: rgba(0,0,0,0.9);
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;

}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    float: left;
    margin: 0.5em;
    font-size: 0.8em;
}

li.company_logo {
    color: #777;
}

li.right {
    float: right;
}

li > a {
    color: #888;
    text-decoration: none;

    transition: color 250ms ease;
}

li > a:hover {
    transition: color 250ms ease;
    color: white;
}

div#create_task_container {
    margin: 3em;
}

div#show_tasks_container {
    margin: 3em;
}


div#create_task_container > div {
    text-align: center;
}

a.clickable {
    text-decoration: none;
    color: #0c4270;
}

div.task {
    background-color: #eee;
    border: 1px solid #aaa;
    margin-bottom: 1em;
    position: relative;
}

div.icons {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25em;
}

div.icons > i {
    color: rgba(50,50,50,0.7);
    cursor: pointer;
}

div.icons > i.selected {
    color: rgba(64, 140, 70, 0.81);;
    cursor: pointer;
}

div.icons > i:hover {
    color: rgba(97, 4, 0, 0.81);
    text-shadow: 0 0 10px rgba(255, 105, 102, 0.81);
}


div.task_row {
    padding: 0.5em 0.75em;
    border-bottom: 1px solid #ddd;
}

div.task_row:last-child {
    border-bottom: none;
}

span.caption {
    color: #888;
    font-size: 0.75em;
    text-transform: lowercase;
    margin: 0.25em;
}

div.task[data-priority="1"] {
    background-color: #eee;
}

div.task[data-priority="2"] {
    background-color: #efefef;
}

div.task[data-priority="3"] {
    background-color: white;
}

input {
    font-size: 0.85em;
}